* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #494592, #5753d7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 16px;
}

.landing-page {
  text-align: center;
  padding: 100px;
  background: linear-gradient(to right, #494592, #5753d7);
}

.landing-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f8f8f86f;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.text-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.text-image-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
}

.text-image-container p {
  font-size: 17px;
  line-height: 1.6;
  color: #000;
  max-width: 500px;
  margin-left: 20%;
}

.newasas-image {
  margin-right: 15%;
  max-width: 400px;
  border-radius: 10px;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #f9f9f9;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
  padding: 20px;
}

.feature-icon {
  font-size: 40px;
  margin-bottom: 20px;
  color: #6c63ff;
}

.feature-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #333;
}

.feature-item p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
